
.cardapio{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  min-height:35vh;
  background-color:rgb(54, 34, 8);
}

.cardapio .nome-cardapio{
  font-size:4rem;
  color:#E8DDD7;
  animation: moverBaixo 1.5s ease;
}

.cardapio .cards-cardapio{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
  
  padding:1rem;
  min-height:500px;
  width:100%;
  gap:2rem;
}

.cardapio .cards-cardapio li{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
  padding: 2rem;
  width:min(100%, 400px);
  font-size:1.5rem;
  gap:2rem;
  
  background-color:#F3E8DA;
  border-radius: 1.5rem;
  text-align: center;
  border:8px solid brown;
  animation: moverEsquerda 1.5s ease;
}

.cardapio .cards-cardapio li .infoProduto strong{
  color:#4E342E;
  font-weight:700;
}

.cardapio .cards-cardapio li .descricao{
  padding: 1rem;
  min-height:4em;
  white-space: nowrap;
}

.cardapio .cards-cardapio li .infoProduto{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  min-width:200px;
}

.cardapio .cards-cardapio li .infoProduto a{
  padding: 1rem;
  background-color:#D4AF37;
  border-radius: 1rem;
  border:4px solid #4E342E;
  transition: all 0.5s ease;
}

.cardapio .cards-cardapio li{
  transition: transform 0.3s ease;
}

.cardapio .cards-cardapio li:hover{
  transform: translateY(-10px);
}

.cardapio .cards-cardapio img{
  width: 100%;
  max-width: 250px;
  border-radius: 1rem;
}


.cardapio .cards-cardapio li .infoProduto a{
  padding: 1rem;
  
  text-decoration: none;
  background-color:#D4AF37;
  border-radius: 1rem;
  border:4px solid #4E342E;
}

.cardapio .cards-cardapio li .infoProduto a:hover{
  border:4px solid #D7CCC8;
  background-color:#4E342E;
  transform:scale(1.05);
  transition:all 0.5s ease-in;
}

.cardapio .cards-cardapio li .infoProduto a:hover .bi-whatsapp{
  color:#D7CCC8;
}

.cardapio .cards-cardapio li .infoProduto strong{
  font-size:2rem;
  padding:1rem;
}

.cardapio .cards-cardapio li .infoProduto a .bi-whatsapp{
  font-size: 2rem;
  color:#4E342E;
}

/*Animações*/

@keyframes moverBaixo{
  from{
    transform: translateY(-200px);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes moverEsquerda{
  from{
    transform: translateX(-200px);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}
/*----------------------*/

/*Responsividade*/

@media (max-width:1024px){
  .cardapio{
    padding: 1rem;
  }
  .cardapio .cards-cardapio{
    padding:2rem;
  }
}

@media (max-width:680px){
  .cardapio .nome-cardapio{
  font-size:3rem;
  margin-top:2rem;
}

  .cardapio .cards-cardapio{
   padding:2rem;
}
}

@media (max-width:360px){
  .cardapio .cards-cardapio li{
    padding:1rem;
  }
}

/*----------------------*/



